# {{ ansible_managed }}

[Unit]
Description=Mongos Server
Documentation=https://docs.mongodb.org/manual
After=network.target
Wants=network.target

[Service]
User={{ mongos_user }}
Group={{ mongos_group }}
RestartSec=5s
Restart=on-failure
PIDFile={{ mongos_pidfile_path | default('/run/mongodb/mongos.pid') }}
PermissionsStartOnly=true
ExecStartPre=/usr/local/bin/mongos_pre.sh
ExecStart=/usr/bin/mongos --quiet \
    --config /etc/mongos.conf
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE={{ mongos_systemd_unit_limit_nofile }}
LimitNPROC={{ mongos_systemd_unit_limit_nproc }}
TasksAccounting=false

[Install]
WantedBy=multi-user.target
